@import '../../common.scss';

.code-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity $theme-transition-duration ease-in-out;
    z-index: 1;

    & > .code-toolbar-icon {
        font-size: 20px;

        &:hover {
            color: transparentize(#fff, .25);
        }
    }
}

.code:hover .code-toolbar {
    opacity: 1;
}
