@import '../../../../common';

.nav-bar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $theme-secondary;

    .icon-button.nav-bar-menu-trigger {
        border-radius: $theme-border-radius;
        width: 48px;
        height: 48px;
        font-size: 24px !important;
        text-align: center;

        &:hover {
            background: transparentize(#000, .9);
        }
    }

}

.portal .nav-bar-menu-drawer {
    padding: 16px 16px 16px 80px;
}
