@import '../../../../../common.scss';

.kmp-demo {
    margin: 32px 0;

    .raised-button {
        margin-right: 16px;
        font-size: 16px;

        .button-icon {
            font-size: 16px;
            vertical-align: middle;
        }
    }
}
