@import '../common.scss';

.section {
    padding: 40px;
    margin: 32px 0;
    background: $theme-field-bg;
    border-radius: $theme-border-radius;

    .section-title {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        font-size: 32px;

        .section-toggle-buton {
            float: right;
            font-size: 24px;
            margin: 4px;
            border: 1px solid $theme-border;
            transition: transform $theme-transition-duration ease-in-out;
        }
    }

    .section-content {
        display: none;
        margin-top: 24px;
    }

    &.expand {
        border-left: $theme-border-radius solid $theme-highlight;
        padding-left: 36px;

        .section-title {
            color: $theme-highlight;

            .section-toggle-buton {
                color: #fff;
                background: $theme-highlight;
                border-color: $theme-highlight;
                transform: rotate(180deg);
            }
        }

        .section-content {
            display: block;
        }
    }
}
