@import '../common.scss';

.section {
    @include float-fix;
    position: relative;
    min-height: 96px;
    margin: 32px 0;
    background: $theme-field-bg;
    border-radius: $theme-border-radius;
    overflow: hidden;

    .section-title {
        @include float-fix;
        box-sizing: border-box;
        width: 100%;
        height: 96px;
        line-height: 96px;
        padding: 0 40px;
        margin: 0;
        font-size: 32px;
        background: $theme-field-bg;

        .section-title-text {
            cursor: pointer;
        }

        .section-toggle-buton {
            float: right;
            font-size: 24px;
            margin: 28px 4px;
            border: 1px solid $theme-border;
            transition: transform $theme-transition-duration ease-in-out;
        }
    }

    .section-content {
        display: none;
        padding: 0 40px 40px;
        margin-top: 96px;
    }

    .section-expand-border {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: $theme-highlight;
        z-index: 6;
    }

    &.expand {

        .section-title {
            position: absolute;
            top: 0;
            color: $theme-highlight;

            .section-toggle-buton {
                color: #fff;
                background: $theme-highlight;
                border-color: $theme-highlight;
                transform: rotate(180deg);
            }
        }

        .section-content {
            display: block;
        }

        .section-expand-border {
            display: block;
        }
    }

    &.title-fixed {
        .section-title {
            position: fixed;
            top: 0;
            border-bottom: 1px solid $theme-border;
            z-index: 5;
        }
    }

    &.title-fixed-bottom {
        .section-title {
            position: absolute;
            top: unset;
            bottom: 0;
        }
    }
}
