@import '../../../../../../common.scss';

.brute-force-demo {
    @include float-fix;
    margin-top: 64px;

    .brute-force-demo-title {
        font-size: 24px;
        font-weight: 700;
    }

    .raised-button {
        margin-right: 16px;
        font-size: 16px;

        .button-icon {
            font-size: 16px;
            vertical-align: middle;
        }
    }
}
