@import '../../../../common.scss';

.nav-menu-modules-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .base-button {
        width: 100%;
        height: 48px;
        text-align: left;
        padding: 0 16px;

        &:hover {
            background: transparentize($theme-primary, .9);
        }
    }

    .all-modules-button {
        font-size: 16px !important;
        margin-bottom: 24px;
        font-weight: 700;
        padding: 0 5px;
        text-overflow: clip;

        & > * {
            vertical-align: middle;
        }

        .button-icon-left {
            font-size: 24px !important;
            margin-right: 12px;
        }
    }
}
