@import '../../../../../../common.scss';

.demo-string {
    height: 64px;
    font-size: 32px;

    .demo-string-title {
        display: inline-block;
        vertical-align: top;
        width: 96px;
        line-height: 64px;
        color: $theme-label;
    }

    .demo-string-content {
        display: inline-block;
        vertical-align: top;

        .demo-char {
            display: inline-block;
            width: 64px;
            height: 64px;
            line-height: 64px;
            vertical-align: top;

            &.activated {
                color: $theme-success;
            }
        }
    }
}
